<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery Page</title>
</head>
<body>
<div th:insert="nav.html"></div>
<h1>Cloudinary Gallery Page</h1>

<hr>
Upload your image:
<form method="POST" action="gallery2" enctype="multipart/form-data">
    <input type="file" name="image">
    <input type="submit" value="Upload Image">
</form>

<hr>
<h4>Images from Cloudinary: </h4><br><br>
<span th:each="image : ${cloudImages}">
    <img th:src="${image.getImageUrl()}">

</span>


</body>
</html>